<form (submit)="onLoginHandler()">
  <!-- Email -->
  <div>
    <label>Email address</label><br />
    <input
      type="email"
      [(ngModel)]="email"
      [ngModelOptions]="{standalone: true}"
      placeholder="Your email"
      required
    />
  </div>

  <br />

  <!-- Password -->
  <div>
    <label>Password</label><br />
    <input
      type="password"
      [(ngModel)]="password"
      [ngModelOptions]="{standalone: true}"
      placeholder="Password"
      required
    />
  </div>

  <br />

  <!-- Remember me & Forgot password -->
  <div>
    <!-- <input type="checkbox" [(ngModel)]="rememberMe" [ngModelOptions]="{standalone: true}" /> -->
    <label>Remember me</label>

    <a href="/forgot-password" style="float: right;">Forgot password?</a>
  </div>

  <br />

  <!-- Submit Button -->
  <button type="submit">Log in</button>
</form>
