<div class="home">
  <section class="hero">
    <div class="hero-text">
      <h1>
        Unlock Your Potential, Techniques for
        Improving Your Gaming Performance
      </h1>
      <h3>
        Ready to enter the arena? Register now and join the competition!
      </h3>
          @if (token) {
    <button routerLink="/tournaments" class="cta">Get started</button>
  } @else {
    <button routerLink="/login" class="cta">Discover</button>
  }
      
    </div>

    <div class="hero-img">
      <img src="/assets/images/main_img.jpeg" alt="main controller">
    </div>
  </section>

  <section class="social">
    <h3>Share Your Experience</h3>
    <div class="icons">
      <a href="https://www.facebook.com" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.youtube.com" target="_blank" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
      <a href="https://www.instagram.com" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
      <a href="https://www.twitch.tv" target="_blank" aria-label="Twitch"><i class="fab fa-twitch"></i></a>
    </div>
  </section>

  <section class="tournaments">
    <h3>Next tournaments</h3>
    <!-- Ici tu mettras tes cartes d’images -->
  </section>
</div>
